@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


body {
    font-size: 1rem !important;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif !important;
}

.link-primary {
    @apply underline text-blue-500 cursor-pointer;
}

.my-panel {
    @apply bg-white p-4 shadow sm:rounded-lg;
}


.my-yellow-panel {
    @apply bg-yellow-50 p-4 shadow sm:rounded-lg;
}

.my-title-1 {
    @apply text-base font-semibold leading-6 text-gray-900 mb-2;
}

.vs__search {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.vs__selected {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.vs__dropdown-toggle {
    border-radius: 6px !important;
    @apply shadow-sm;
}

.disabled-input {
    @apply block w-full text-sm cursor-not-allowed text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-gray-50 file:text-gray-700;
}

.saturday {
    background-color: #f0f8ff;
}

.sunday {
    background-color: #FFF0F5;
}

.my-badge {
    @apply bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full;
}

.my-badge-1 {
    @apply bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full
}

.my-badge-2 {
    @apply bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full;
}

.my-badge-3 {
    @apply bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full
}

.my-badge-4 {
    @apply bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full
}

.my-badge-5 {
    @apply bg-orange-100 text-orange-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full
}

.my-btn-add {
    @apply mt-24 right-8 cursor-pointer rounded bg-indigo-600 px-3 py-2 text-sm text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

.my-input-text {
    @apply w-full resize-none rounded-lg text-base border-gray-300 py-3 px-[14px] text-gray-800 placeholder-white placeholder-opacity-60 outline-none focus:border-white focus-visible:shadow-none;
}

.my-select {
    @apply block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm;
}

.my-input-img {
    @apply h-64 w-64 border border-gray-300 bg-white text-gray-300;
}

.my-link {
    @apply text-blue-500 cursor-pointer;
}

.my-link-download {
    @apply rounded bg-indigo-600 px-3 py-2 text-sm text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}
